@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);body {
  font-family: "Roboto", sans-serif;
}

.body {
  background: #fff;
  padding: 40px;
  margin: 0 auto;
  max-width: 1300px;
  min-height: 700px;
  -webkit-box-shadow: 0 2px 90px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 90px rgba(0, 0, 0, 0.05);
}

textarea {
  width: 100%;
}

input {
  width: 100%;
}

iframe.preview {
  width: 100%;
  height: 1600px;
}

.datepicker-dropdown:after {
  border-bottom-color: #757AFF;
}

.datepicker {
  padding: 0;
  -webkit-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 0 3px 30px rgba(0, 0, 0, 0.06);
  border: 0;
}

.datepicker .prev,
.datepicker .next,
.datepicker .datepicker-switch {
  background: #757AFF;
  color: #fff;
  border-radius: 0;
  padding: 20px;
}

.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker .datepicker-switch:hover {
  background: #6b70ff;
  color: #fff;
}

.datepicker .dow,
.datepicker .day {
  height: 45px;
  width: 45px;
  border-radius: 45px;
}

.datepicker .month {
  border-radius: 50px;
}

.datepicker .today.day {
  background: #757AFF33;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.datepicker .today.day:hover {
  background: #757AFF33;
}

.datepicker .active.day {
  background: #757AFF !important;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.datepicker .active.day:hover {
  background: #6b70ff !important;
}

.count-1:before {
  content: '\25CF';
  font-size: 14px;
  position: absolute;
  margin-top: 15px;
  margin-left: 5px;
  color: rgb(255, 208, 0);
  opacity: 0.5;
  }
.count-2:before {
  content: '\25CF';
  font-size: 14px;
  position: absolute;
  margin-top: 15px;
  margin-left: 5px;
  color: rgb(157, 255, 0);
  opacity: 1;
  }
.count-many:before {
  content: '\25CF';
  font-size: 14px;
  position: absolute;
  margin-top: 15px;
  margin-left: 5px;
  color: rgb(157, 255, 0);
  opacity: 1;
  }


/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}  