html {
  scroll-behavior: smooth; }

#intro {
  background: url("../img/panorama-3094696_1920.jpg") no-repeat center center;
  background-size: cover; }

.top-nav-collapse {
  background-color: white !important; 
color: #72b73b!important}

.navbar:not(.top-nav-collapse) {
  color: #72b73b !important; 
background-color: white !important; }

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: white !important; color: #72b73b !important; } }

    .navbar-dark .navbar-brand {
      color: #fff;
      }

#intro .h6 {
  font-weight: 300;
  line-height: 1.7; }

.site-bg-img {
  height: 100vh;
  min-height: 480px;
  max-height: 1080px; }

.hm-gradient .site-bg-img {
  background: rgba(42, 27, 161, 0.7);
  background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%); }

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem; } }


    .btn-primary {
      background-color: #72b73b !important;
    }

#pricing .lead {
  opacity: 0.7; }

#pricing ul li {
  font-size: 1.1em; }

.facebook .card-image {
    background: url("../img/fb.jpg") no-repeat center center; 
    background-size: cover;
  }

.tree .card-image {
    background: url("../img/plant-tree.jpg") no-repeat center center; 
    background-size: cover;
  }


.twitter .card-image {
      background: url("../img/twitter.png") no-repeat center center; 
      background-size: cover;
}

.instagram .card-image {
        background: url("../img/instagram.jpeg") no-repeat center center;
        background-size: cover
}

.tutorial .card-image {
  background: url("../img/tutorial.jpg") no-repeat center center; 
  background-size: cover;
}

.fb-logo {
  width: 20px;
  margin-top: -3px;
  margin-right: 5px;
}

.text-muted {
  opacity: 0.5;
}

.thumbnail {
  width: 100%;
  margin-left: -25%;
  margin-top: 12px;
}

#events > .row.mb-12:after {
  width: 44%;
  height: 1px;
  left: 25%;
  position: relative;
  background-color: rgb(222, 222, 222);
  display: block;
  content: ' ';
  margin-top: 8px;
  bottom: 1px;
}