

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bootstrap Datepicker Material</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-datepicker3.min.css">
	<link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>
<body>

	<br><br><br>
	<section class="body">
		<div class="container">
			{{{ body }}}
		</div>
	</section>
	<br><br><br>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="../scripts/bootstrap-datepicker.min.js"></script>
	<script src="../scripts/manage-templates.js"></script>

</body>
</html>